* {
	margin: 0;
	padding: 0;
}

html {
  	scroll-behavior: smooth; 
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content > div {	
	padding: 20px;
	color: #333333;
}

.content div span {
	display: block;
}

#main_info {
  font-family: Segoe UI, Arial, sans-serif;
}
	
#main_info pre {
	white-space: pre-wrap;
	display: inherit;
	font-family: Segoe UI, Arial, sans-serif;
}

#main_info span.myname {
  display: block;
  font-size: 25px;
}

#main_info ul {
  margin: 10px 30px 0px;
}

#main_info span:not(.myname) {
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px 0px;
	font-weight: 700;
}

#education {
	font-family: Segoe UI, Arial, sans-serif;
}

span.first_info {
	padding: 10px 10px 0px;
	font-size: 25px;
	
}

span.second_info {
	padding: 10px 20px 0px;
	font-size: 18px;	
}

span.date_info {
	padding: 10px 20px 0px;
	font-size: 16px;
}

.caption {
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 30px;
	font-weight: 600;
	border: 1px solid gray;
	padding: 6px;
	width: 100%;
	display: block;
	background-color: #f9f4ff;
}

#workexp {
	font-family: Segoe UI, Arial, sans-serif;
}

#workexp ul {
	padding: 10px 40px 0px;
}

#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	//position: relative;
	
}

#portfolio div {
	background-color: #5E3553;
	height: 200px;
	width: 200px;
	margin: 5px;
	overflow: hidden;
	position: relative;
	border: 2px solid #5E3553;
}

#portfolio > .caption{
	height: 45px;
}

#portfolio > div img{
	width: 100%;
}


#portfolio > div span{
    font-family: Segoe UI, Arial, sans-serif;
	width: 100%;
	position: absolute;
	background-color: #5E3553;
	font-weight: 600;
	opacity: 0.8;
	color: white;
	text-align: center;
	padding: 5px;

}

#portfolio > div span.top_imgcapt{
	top: 0;
	border-bottom: 3px solid black;
}

#portfolio > div span.bottom_imgcapt{
	bottom: 0;
	border-top: 3px solid black;

}

#portfolio div .href{
	
}


#portfolio div .href{
	top: -7px;
	left: -6px;
	position: absolute;
	background-color: black;
	z-index: 500;
	opacity: 0;
}

#portfolio div .href span{
 	border-radius: 60px;
	top: 50px;
	left: 50px;
	padding: 20px 10px 10px;
	width: 80px;
	height: 70px;
	background-color: white;
	color: black;
	font-size: 40px;
	font-weight: 700;

}

#portfolio div a:hover .href {
  opacity: 0.6;
}



#contacts span:not(.caption) {
	font-family: Segoe UI, Arial, sans-serif;
	display: inline-block;
	font-size: 17px;
	margin: 0px 0px 0px;
	padding: 5px;
	font-weight: 600;
	cursor:default;
	
}

#contacts pre {
	display: inline;
	font-size: 17px;
	
}


#contacts a {
	text-decoration: none;
	font-size: 25px;
	padding: 2px;
	color: #444444;
	
}

#contacts a:hover {
	color: #b5659e;
}

#main_info h1 {
  display: block;
  margin: 0px 0px 0px;
  border: 1px solid gray;
  padding: 8px;
  background-color: #f9f4ff;
}

.content > div:not(:last-child) {
	border-bottom: 2px dashed  #5E3553;	
}



@media screen and (min-width: 800px) {

#main_info pre {
	font-size: 18px;
}
	
#main_info ul {
	font-size: 18px;
}

#main_info h1 {
  font-size: 45px;
}

nav {
	overflow: hidden;
	width: 20%;
	height: 100%;
	position: fixed;
}

.content {
  width: 80%;
  float: right;
}
	
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	font-family: Segoe UI, Arial, sans-serif;
	background-color: #5E3553;
	color: white;
	white-space: nowrap;
}
	
nav a {
	padding: 10px;
	text-decoration: none;
	color: white;
	font-size: 18px;

}

nav > a:hover {
	border-bottom: 1px solid white;

}

}

@media screen and (max-width: 577px) {

#portfolio div .href{

	 opacity: 0.6;
	background:rgba(0,0,0,0.2);
}

#workexp ul {
	font-size: 14px;
}
	
.caption {
	font-size: 25px;
}
	
nav {	
	display: none;
}
	
#main_info h1 {
    font-size: 25px;
}
	
#main_info pre {
	font-size: 15px;
}
	
#main_info ul {
	font-size: 15px;
}
	
span.first_info {
	font-size: 20px;
}

span.second_info {
	font-size: 16px;
}

span.date_info {
	font-size: 12px;
}
	
}

@media screen and (max-width: 800px) and (min-width: 577px) {

#main_info h1 {
    font-size: 45px;
}
	
#main_info ul {
    font-size: 18px;
}
	
#main_info pre {
	font-size: 18px;
}

nav {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: right;
	font-family: Segoe UI, Arial, sans-serif;
	background-color: #5E3553;
	color: white;
	white-space: nowrap;
	align-items: center;
	position: fixed;
	z-index: 800;
}
	
.content {
	margin-top: 50px;
}
	
.content > a {
	margin-top: -50px;
    padding-top: 50px;
}

nav a {
	padding: 0px 10px 2px;
	text-decoration: none;
	color: white;
	font-size: 15px;
}	
	
nav > a:hover {
	border-bottom: 1px solid white;
}
	
nav {
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
}

}